.page__navigation {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 94px;
    padding-bottom: 48px;
}

.page__navigation-text-one {
    border-radius: 4px;
    background-color: rgb(241, 239, 239);
    padding: 6px 25px;
    color: #212121;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    transition: color 0.1s linear, bg-color 0.3s linear, transform 0.3s linear, box-shadow 0.3s linear;
    &:hover {
        background-color: #2196F3;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        color: #FFF;
        transform: scale(1.3);
        animation: bg-color 5s infinite linear;
    }
}

.page__navigation-text-two {
    color: #212121;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background-color: rgb(241, 239, 239);
    padding: 6px 22px;
    transition: color 0.3s linear, bg-color 0.3s linear, transform 0.3s linear, box-shadow 0.3s linear;
    &:hover {
        background-color: #2196F3;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        color: #FFF;
        transform: scale(1.3);
        animation: bg-color 5s infinite linear;
    }
}

.page__navigation-text-three {
    color: #212121;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background-color: rgb(241, 239, 239);
    padding: 6px 22px;
    transition: color 0.3s linear, bg-color 0.3s linear, transform 0.3s linear, box-shadow 0.3s linear;
    &:hover {
        background-color: #2196F3;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        color: #FFF;
        transform: scale(1.3);
        animation: bg-color 5s infinite linear;
    }
}

.page__navigation-text-four {
    color: #212121;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background-color: rgb(241, 239, 239);
    padding: 6px 22px;
    transition: color 0.3s linear, bg-color 0.3s linear, transform 0.3s linear, box-shadow 0.3s linear;
    &:hover {
        background-color: #2196F3;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        color: #FFF;
        transform: scale(1.3);
        animation: bg-color 5s infinite linear;
    }
}

.page__navigation-text-five {
    color: #212121;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background-color: rgb(241, 239, 239);
    padding: 6px 22px;
    transition: color 0.3s linear, bg-color 0.3s linear, transform 0.3s linear, box-shadow 0.3s linear;
    &:hover {
        background-color: #2196F3;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        color: #FFF;
        transform: scale(1.3);
        animation: bg-color 5s infinite linear;
    }
}

@keyframes bg-color {
    0% {
        background-color: #2196F3;
    }
    45% {
        background-color: #8a16f7;
    }
    95% {
        background-color: #2156f3;
    }
}

.product__photo {
    position: relative;
    overflow: hidden;
}

.photo1 {
    transition: filter 0.5s ease;
}

.product__photo-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color: rgba(33, 150, 243, 0.90);
    padding: 63px;
    opacity: 0;
    width: 322px;
    font-style: normal;
    line-height: 28px;
    letter-spacing: 0.54px;
    font-family: 'Roboto';
    padding-top: 114px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.product__photo:hover .photo1 {
    filter: brightness(70%);
}

.product__photo:hover .product__photo-text {
    opacity: 1;
    transform: translateX(-50%) translateY(-100%);
}

.caption__block-two, .caption__block-one {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-bottom: 30px;
}

.caption__block-three {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.product {
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s linear;
    background: #FFF;
    &:hover {
        box-shadow: 0 0 10px 5px ;
        transform: scale(0.9) translateY(-10px);
        border: 1px solid #EEE;
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
}

.product__title {
    font-size: 18px;
}

.product__text {
    font-size: 16px;
    color: #757575;
    padding-top: 19px;
    padding-bottom: 20px;
}

.product__texts {
    padding-left: 24px;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 768px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .caption__block-one {
        flex-wrap: wrap;
    }
    .caption__block-two {
        flex-wrap: wrap;
    }
    .caption__block-three {
        flex-wrap: wrap;
    }
    .photo1 {
        width: 354px;
        height: 294px;
    }
}